@font-face{
    src: url('../font/RINGM___.TTF');
    font-family:'lord';
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'lord';
}

.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
}

.container{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-image: url('../images/lord.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}

.overlay.wrong{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: red;
    opacity: .3;
    z-index: 1;
}

.logo{
    text-align: center;
    margin-bottom: 10px;
    width: 50%;
}

.logo img{
    width: 70%;
}

.overlay.correct{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgb(7, 212, 17);
    opacity: .3;
    z-index: 1;
}

main{
    min-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    background-color: aliceblue;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 11px 2px;
}

main .iniciar button{
    padding: 5px 10px;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    background-color: rgb(143, 77, 143);
    color: white;
    transition: .5s;
}

main .iniciar button:hover{
    background-color: rgb(124, 70, 124);
}

main .respostas{
    width: 100%;
}

main .respostas h1{
    text-align: center;
    margin-bottom: 10px;
}

main .respostas button{
    background-color: rgb(60, 145, 243);
    border: 3px solid rgb(47, 125, 214);
    color: aliceblue;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 200;
    cursor: pointer;
}

main .respostas > div{
    width: 99%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .respostas div:first-child{
    margin-bottom: 10px;
}

main .respostas div button:first-child{
    margin-right: 10px;
}


.hide{
    display: none;
}

main div:nth-child(2){
    margin-bottom: 10px;
}

.next button{
    padding: 5px 10px;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    background-color: rgb(143, 77, 143);
    color: white;
    transition: .5s;
}
